<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Book Store</title>
<script src="res/js/jquery-2.1.1.min.js"></script>
<script src="res/js/angular.min.js"></script>
<script src="res/js/angular-route.min.js"></script>
<script src="res/js/bootstrap.js"></script>
<script src="res/js/script.js"></script>
<link rel="stylesheet" href="res/css/bootstrap.css">
<link rel="stylesheet" href="res/css/style.css">
</head>
<body>
<div ng-app="bookStore" ng-controller="studentController">
<nav class="navbar navbar-inverse  navbar-fixed-top">
 		<div class="navbar-header">
 			<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Book Store</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <div class="col-sm-3 col-md-3">
            <form class="navbar-form" role="search">
                <input type="text" class="form-control input-sm" placeholder="Search" name="srch-term" id="srch-term"
      							ng-model="bookName" ng-change="data()">
            </form>
       </div>
	       <ul  class="nav navbar-nav  pull-right">
		       	<li>
		       		<a href="#viewCart"><span class="glyphicon glyphicon-shopping-cart"></span>View Cart</a>
		       	</li>
	       </ul>
</nav>
<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 pull-right  container jumbotron" id="content">
    <div class="col-sm-5 col-md-3 col-xs-12 col-lg-2 grid" id="book_{{$index + 1}}"  ng-init="setDivHeight($index + 1)" ng-repeat="item in students.items">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12"><img class="thumbnail" ng-src={{item.volumeInfo.imageLinks.smallThumbnail}}/></div>
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 details"><b>Title:</b>&nbsp;&nbsp; {{ item.volumeInfo.title }}<div>
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 details"><b>Author(s):</b>&nbsp;&nbsp;
		                <span ng-repeat="author in item.volumeInfo.authors">
		                {{ author }}
		                ,</span>
               	</div>
          	    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 details"><b>Publisher:</b>&nbsp;&nbsp; {{ item.volumeInfo.publisher }}<div>
          	    <br/>
          	    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 add_to_cart details">
          	    		<b>Price:</b>&nbsp;&nbsp;{{getPrice()|currency}}<a href="#" ng-click="addToCart(item.volumeInfo.title)" class="btn btn-success btn-xs pull-right">
          					<span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart 
        				</a>
          	    <div>
          	    
             
             </div>      
      </div>
    </div>
    <div ng-view></div>
    <script type="text/ng-template" id="viewCart.htm">
         <h2> Add Student </h2>
         {{message}}
      </script>
</div>
<script src="res/js/bookStore.js"></script>
<script src="res/js/controller.js"></script>
</body>
</html>